<a href="https://colab.research.google.com/github/npr99/URSC689/blob/main/URSC689_Read_SourceData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read in Source Data
Notebook provides an example of how to read in data from SourceData Folder.

This example uses relative paths to locate the data in Google Colab.
This requires that the Google Drive is mounted in the Google Colab notebook and that the directory is changed to the indiviudal work folder.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os # package needed to change and check directories

In [ ]:
os.getcwd()

'/content/gdrive/Shareddrives/URSC689_S2021/Projects/Transit on Mobile/WorkNPR'

In [ ]:
os.chdir('/content/drive/Shareddrives/URSC689_S2021/Projects/Transit on Mobile/WorkNPR/')

In [ ]:
os.getcwd()

'/content/gdrive/Shareddrives/URSC689_S2021/Projects/Transit on Mobile/WorkNPR'

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('../SourceData/www.ncdc.noaa.gov/RAINDAYS_SanAntonio_201501-201706.csv')

          STATION                         NAME     DATE  DP01  DP10
0     US1TXBXR213        HELOTES 7.7 SW, TX US  2015-01   9.0   4.0
1     US1TXBXR213        HELOTES 7.7 SW, TX US  2015-02   7.0   2.0
2     US1TXBXR213        HELOTES 7.7 SW, TX US  2015-03  12.0   8.0
3     US1TXBXR213        HELOTES 7.7 SW, TX US  2015-04  10.0   7.0
4     US1TXBXR213        HELOTES 7.7 SW, TX US  2015-05  13.0   6.0
...           ...                          ...      ...   ...   ...
3233  US1TXBXR304  CROSS MOUNTAIN 2.1 N, TX US  2017-02   3.0   2.0
3234  US1TXBXR304  CROSS MOUNTAIN 2.1 N, TX US  2017-03   8.0   2.0
3235  US1TXBXR304  CROSS MOUNTAIN 2.1 N, TX US  2017-04   9.0   6.0
3236  US1TXBXR304  CROSS MOUNTAIN 2.1 N, TX US  2017-05   8.0   2.0
3237  US1TXBXR304  CROSS MOUNTAIN 2.1 N, TX US  2017-06   6.0   1.0

[3238 rows x 5 columns]

In [ ]:
dataframe = pd.read_csv('../SourceData/www.ncdc.noaa.gov/RAINDAYS_SanAntonio_201501-201706.csv')

In [ ]:
dataframe.head()

       STATION                   NAME     DATE  DP01  DP10
0  US1TXBXR213  HELOTES 7.7 SW, TX US  2015-01   9.0   4.0
1  US1TXBXR213  HELOTES 7.7 SW, TX US  2015-02   7.0   2.0
2  US1TXBXR213  HELOTES 7.7 SW, TX US  2015-03  12.0   8.0
3  US1TXBXR213  HELOTES 7.7 SW, TX US  2015-04  10.0   7.0
4  US1TXBXR213  HELOTES 7.7 SW, TX US  2015-05  13.0   6.0