In [21]:
import pandas as pd
import os

In [19]:
# What is the current working directory?
os.getcwd()

'g:\\Shared drives\\URSC645_S2023\\Tasks\\ObtainData\\Posted'

### Read in an Excel File
Pandas has the option to read in files directly from Microsoft Excel. 

Pandas `read_excel` command requires the package `openpyxl` to be installed.

`openpyxl` needs to be installed in the course environment using Anaconda (prompt) - `pip install openpyxl` may be the fastest option.

In [22]:
# Read in source data -Excel File
df = pd.read_excel("..\SourceData\Atmos41WeatherStation\ATMOS41_2022-12-23.xlsx")

In [4]:
# Explore the data
df.head()

,z6-02476,Port 5,Port 5.1,Port 5.2,Port 5.3,Port 5.4,Port 5.5
0,Records: 1193,ATMOS 41,ATMOS 41,ATMOS 41,ATMOS 41,ATMOS 41,ATMOS 41
1,Timestamp,W/m² Solar Radiation,° Wind Direction,m/s Wind Speed,°C Air Temperature,RH Relative Humidity,°C RH Sensor Temp
2,2022-12-23 11:01:00,3,180,0.03,22.5,0.249661,22.5
3,2022-12-23 11:01:30,3,180,0.03,22.5,0.249661,22.5
4,2022-12-23 11:02:00,3,207,0.02,22.5,0.249661,22.5

### Explore the Data
It looks like the data was read in correctly, but notice that the first 3 rows are not data - but metadata.

The first row that pandas read in is the column names - so only skip the first 2 rows.

`read_excel` has a `skiprows` option that can be used to skip the first 2 rows.

In [5]:
# skip the first 2 rows in read excel file
df = pd.read_excel("..\SourceData\Atmos41WeatherStation\ATMOS41_2022-12-23.xlsx", skiprows=2)

In [6]:
# Explore the data
df.head()

,Timestamp,W/m² Solar Radiation,° Wind Direction,m/s Wind Speed,°C Air Temperature,RH Relative Humidity,°C RH Sensor Temp
0,2022-12-23 11:01:00,3,180,0.03,22.5,0.249661,22.5
1,2022-12-23 11:01:30,3,180,0.03,22.5,0.249661,22.5
2,2022-12-23 11:02:00,3,207,0.02,22.5,0.249661,22.5
3,2022-12-23 11:02:30,3,180,0.02,22.5,0.249661,22.5
4,2022-12-23 11:03:00,3,180,0.03,22.5,0.249661,22.5

In [7]:
# Explore the data - describe all variables
df.describe().T

,count,mean,std,min,25%,50%,75%,max
W/m² Solar Radiation,937.0,157.034152,196.241742,0.000000,9.000000,52.000000,242.000000,835.000000
° Wind Direction,937.0,194.458911,85.976074,0.000000,122.000000,210.000000,249.000000,359.000000
m/s Wind Speed,937.0,2.298997,1.422945,0.020000,1.260000,2.320000,3.270000,9.010000
°C Air Temperature,937.0,-0.152828,6.856648,-5.700000,-3.300000,-2.700000,-2.000000,22.700000
RH Relative Humidity,937.0,0.341672,0.071930,0.151197,0.308396,0.324093,0.346152,0.891301
°C RH Sensor Temp,937.0,1.525720,6.613754,-3.800000,-2.300000,-1.000000,1.100000,22.500000

## Read in Excel File Round 2

In [8]:
# Read in source data -Excel File
df = pd.read_excel("..\SourceData\Joppa_pollution_MET_20221207\RCSC BENZENE_Joppa_pollution_MET_20221207.xlsx")
df.head()

                  AbsTime   RelTime  Cycle  Benzene(ppb)_calibrated values
0 2022-12-07 12:41:36.960  645.4461    646                        0.115327
1 2022-12-07 12:41:36.960  646.4462    647                        0.163176
2 2022-12-07 12:41:36.960  647.4462    648                        0.170994
3 2022-12-07 12:41:36.960  648.4462    649                        0.122174
4 2022-12-07 12:41:36.960  649.4462    650                        0.123665

In [9]:
# Read in a different worksheet from the excel file
df = pd.read_excel("..\SourceData\Joppa_pollution_MET_20221207\RCSC BENZENE_Joppa_pollution_MET_20221207.xlsx", 
                    sheet_name="120722_Met Data")
df.head()

,NODE,SPEED,CSPEED,GSPEED,CGSPEED,AVGSPEED,AVGCSPEE D,DIR,CDIR,GDIR,...,GPSSPEED,GPSLOCATION,GPSSTATUS,TIME,TIME in CST,VOLT,STATUS,WINDSTAT,CHECKSUM,Benzene(ppb)_calibrated values
0,_x0002_E,1.54,1.54,2.84,2.88,2.43,2.46,76,199,143,...,0.00,+32.716106:-096.745472:+0126.50,105,2022-12-07T18:41:27.8,12:41:27.800000,12.1,4,0,_x0003_3C,0.115327
1,_x0002_E,2.50,2.50,2.84,2.88,2.43,2.46,49,172,143,...,0.00,+32.716106:-096.745472:+0126.50,105,2022-12-07T18:41:28.8,12:41:28.800000,12.1,4,0,_x0003_3A,0.163176
2,_x0002_E,2.14,2.14,2.84,2.88,2.43,2.46,49,172,143,...,0.00,+32.716106:-096.745472:+0126.50,105,2022-12-07T18:41:29.8,12:41:29.800000,12.1,4,0,_x0003_3B,0.170994
3,_x0002_E,2.70,2.70,2.84,2.88,2.43,2.46,55,178,143,...,0.00,+32.716106:-096.745472:+0126.50,105,2022-12-07T18:41:30.8,12:41:30.800000,12.1,4,0,_x0003_34,0.122174
4,_x0002_E,3.04,3.13,2.84,2.88,2.43,2.46,48,176,143,...,0.33,+32.716106:-096.745472:+0126.50,105,2022-12-07T18:41:31.8,12:41:31.800000,12.1,4,0,_x0003_30,0.123665

In [10]:
# iterating the columns
print(df.columns)

Index(['NODE', 'SPEED', 'CSPEED', 'GSPEED', 'CGSPEED', 'AVGSPEED',
       'AVGCSPEE D', 'DIR', 'CDIR', 'GDIR', 'CGDIR', 'AVGDIR', 'AVGCDIR',
       'PRESS', 'RH', 'TEMP', 'DEWPOINT', 'COMPASSH', 'GPSHEADING', 'GPSSPEED',
       'GPSLOCATION', 'GPSSTATUS', 'TIME', 'TIME in CST', 'VOLT', 'STATUS',
       'WINDSTAT', 'CHECKSUM', 'Benzene(ppb)_calibrated values'],
      dtype='object')

## Read in Stata dta file
Pandas can read in Stata dta files using the `read_stata` command.

In [11]:
# Read in stata file
df = pd.read_stata("..\SourceData\OpenFEMA\IA_1791.dta")

In [12]:
# explore the data
df.head()

,incidenttype,declarationdate,disasternumber,county,countyn,damagedstateabbreviation,damagedcity,dcity,damagedzipcode,applicantage,...,replacementamount,personalpropertyeligible,personalpropertyamount,ihpmax,hamax,onamax,lastrefresh,id,problem,repairreplacement
0,Hurricane,2008-09-13T17:30:00.000Z,1791,Orange (County),Orange (County),TX,ORANGE,ORANGE,77632,35-49,...,0.0,0,0.0,0,0,0,2022-02-26T12:46:19.000Z,627614af9281a24e2b63ff16,0.0,0.0
1,Hurricane,2008-09-13T17:30:00.000Z,1791,Jefferson (County),Jefferson (County),TX,BEAUMONT,BEAUMONT,77708,35-49,...,0.0,0,0.0,0,0,0,2022-02-26T12:46:19.000Z,627614af9281a24e2b63ff14,0.0,0.0
2,Hurricane,2008-09-13T17:30:00.000Z,1791,Harris (County),Harris (County),TX,HOUSTON,HOUSTON,77041,50-64,...,0.0,0,0.0,0,0,0,2022-02-26T12:46:19.000Z,627614af9281a24e2b63ff19,0.0,0.0
3,Hurricane,2008-09-13T17:30:00.000Z,1791,Harris (County),Harris (County),TX,HOUSTON,HOUSTON,77053,19-34,...,0.0,0,0.0,0,0,0,2022-02-26T12:46:19.000Z,627614af9281a24e2b63ff1f,0.0,0.0
4,Hurricane,2008-09-13T17:30:00.000Z,1791,Harris (County),Harris (County),TX,HOUSTON,HOUSTON,77066,50-64,...,0.0,0,0.0,0,0,0,2022-02-26T12:46:19.000Z,627614af9281a24e2b63ff20,0.0,0.0

In [13]:
df.head(1).T

                                          0
incidenttype                      Hurricane
declarationdate    2008-09-13T17:30:00.000Z
disasternumber                         1791
county                      Orange (County)
countyn                     Orange (County)
...                                     ...
onamax                                    0
lastrefresh        2022-02-26T12:46:19.000Z
id                 627614af9281a24e2b63ff16
problem                                 0.0
repairreplacement                       0.0

[88 rows x 1 columns]

In [14]:
# group by and count observations by disater number
df.groupby('disasternumber').size()

disasternumber
1791    732731
dtype: int64

In [15]:
# group by and count observations by county
df.groupby('county').size()

county
Angelina (County)           4457
Austin (County)              111
Brazoria (County)          37956
Chambers (County)           8009
Cherokee (County)           1146
Fort Bend (County)         27502
Galveston (County)         72213
Gregg (County)               270
Grimes (County)             1401
Hardin (County)            11746
Harris (County)           378364
Harrison (County)            260
Houston (County)            1662
Jasper (County)             5387
Jefferson (County)         78419
Liberty (County)           14406
Madison (County)             709
Matagorda (County)           591
Montgomery (County)        36466
Nacogdoches (County)        2615
Newton (County)             2182
Orange (County)            26899
Polk (County)               5708
Rusk (County)                392
Sabine (County)              411
San Augustine (County)       267
San Jacinto (County)        3219
Shelby (County)              196
Smith (County)               201
Trinity (County)            1733
Tyler (County)              3405
Walker (County)             3667
Waller (County)              648
Washington (County)          113
dtype: int64

In [16]:
big_df = pd.read_csv('..\SourceData\OpenFEMA\IndividualsAndHouseholdsProgramValidRegistrations (1).csv', 
                    low_memory=False,
                    dtype= 'object')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

## Read in a Large CSV file

Help from Google Searches:
- https://medium.com/analytics-vidhya/optimized-ways-to-read-large-csvs-in-python-ab2b36a7914e 

Dask documentation:
- https://docs.dask.org/en/latest/dataframe.html
- help with Dask: https://www.youtube.com/watch?v=jstCmSD_LAs

In [24]:
from dask import dataframe as dd

# Read in data and set data type to object (which is tha same as a string)
# The csv file can have mixed data types and this will allow us to read in the data with fewer errors 
dask_df = dd.read_csv('..\SourceData\OpenFEMA\IndividualsAndHouseholdsProgramValidRegistrations (1).csv', 
                    low_memory=False,
                    dtype= 'object')

In [25]:
dask_df

Dask DataFrame Structure:
                incidentType declarationDate disasterNumber  county damagedStateAbbreviation damagedCity damagedZipCode applicantAge householdComposition occupantsUnderTwo occupants2to5 occupants6to18 occupants19to64 occupants65andOver grossIncome ownRent primaryResidence residenceType homeOwnersInsurance floodInsurance registrationMethod ihpReferral ihpEligible ihpAmount fipAmount haReferral haEligible haAmount haStatus onaReferral onaEligible onaAmount utilitiesOut homeDamage autoDamage emergencyNeeds foodNeed shelterNeed accessFunctionalNeeds sbaEligible sbaApproved inspnIssued inspnReturned habitabilityRepairsRequired   rpfvl   ppfvl renterDamageLevel destroyed waterLevel highWaterLocation floodDamage floodDamageAmount foundationDamage foundationDamageAmount roofDamage roofDamageAmount tsaEligible tsaCheckedIn rentalAssistanceEligible rentalAssistanceAmount repairAssistanceEligible repairAmount replacementAssistanceEligible replacementAmount personalPropertyEligible personalPropertyAmount  ihpMax   haMax  onaMax lastRefresh      id
npartitions=119
                      object          object         object  object                   object      object         object       object               object            object        object         object          object             object      object  object           object        object              object         object             object      object      object    object    object     object     object   object   object      object      object    object       object     object     object         object   object      object                object      object      object      object        object                      object  object  object            object    object     object            object      object            object           object                 object     object           object      object       object                   object                 object                   object       object                        object            object                   object                 object  object  object  object      object  object
                         ...             ...            ...     ...                      ...         ...            ...          ...                  ...               ...           ...            ...             ...                ...         ...     ...              ...           ...                 ...            ...                ...         ...         ...       ...       ...        ...        ...      ...      ...         ...         ...       ...          ...        ...        ...            ...      ...         ...                   ...         ...         ...         ...           ...                         ...     ...     ...               ...       ...        ...               ...         ...               ...              ...                    ...        ...              ...         ...          ...                      ...                    ...                      ...          ...                           ...               ...                      ...                    ...     ...     ...     ...         ...     ...
...                      ...             ...            ...     ...                      ...         ...            ...          ...                  ...               ...           ...            ...             ...                ...         ...     ...              ...           ...                 ...            ...                ...         ...         ...       ...       ...        ...        ...      ...      ...         ...         ...       ...          ...        ...        ...            ...      ...         ...                   ...         ...         ...         ...           ...                         ...     ...     ...               ...       ...        ...               ...         ...               ...              ...                    ...        ...              ...         ...          ...                      ...                    ...                      ...          ...                           ...               ...                      ...                    ...     ...     ...     ...         ...     ...
                         ...             ...            ...     ...                      ...         ...            ...          ...                  ...               ...           ...            ...             ...                ...         ...     ...              ...           ...                 ...            ...                ...         ...         ...       ...       ...        ...        ...      ...      ...         ...         ...       ...          ...        ...        ...            ...      ...         ...                   ...         ...         ...         ...           ...                         ...     ...     ...               ...       ...        ...               ...         ...               ...              ...                    ...        ...              ...         ...          ...                      ...                    ...                      ...          ...                           ...               ...                      ...                    ...     ...     ...     ...         ...     ...
                         ...             ...            ...     ...                      ...         ...            ...          ...                  ...               ...           ...            ...             ...                ...         ...     ...              ...           ...                 ...            ...                ...         ...         ...       ...       ...        ...        ...      ...      ...         ...         ...       ...          ...        ...        ...            ...      ...         ...                   ...         ...         ...         ...           ...                         ...     ...     ...               ...       ...        ...               ...         ...               ...              ...                    ...        ...              ...         ...          ...                      ...                    ...                      ...          ...                           ...               ...                      ...                    ...     ...     ...     ...         ...     ...
Dask Name: read-csv, 1 graph layer

In [26]:
dask_df.head(3)

,incidentType,declarationDate,disasterNumber,county,damagedStateAbbreviation,damagedCity,damagedZipCode,applicantAge,householdComposition,occupantsUnderTwo,...,repairAmount,replacementAssistanceEligible,replacementAmount,personalPropertyEligible,personalPropertyAmount,ihpMax,haMax,onaMax,lastRefresh,id
0,Hurricane,2017-09-10T00:00:00.000Z,4337,Miami-Dade (County),FL,MIAMI,33125,65+,1,0,...,0.00,0,0.00,0,0.00,0,0,0,2022-11-22T01:54:36.000Z,f6747d1f-44ae-4efc-9cb1-124a3b7cc3ae
1,Hurricane,2017-09-10T00:00:00.000Z,4337,Orange (County),FL,APOPKA,32703,19-34,3,1,...,0.00,0,0.00,0,0.00,0,0,0,2022-11-22T01:54:36.000Z,8775c507-3d9d-4913-b1aa-97aba05cef61
2,Hurricane,2017-09-10T00:00:00.000Z,4337,Lee (County),FL,NORTH FORT MYERS,33917,19-34,1,0,...,0.00,0,0.00,0,0.00,0,0,0,2022-11-22T01:54:36.000Z,130d56b0-3af8-4a0d-99ba-79d6336d239b

In [27]:
# locate by disaster number and county
condition1 = (dask_df['disasterNumber'] == '1791')
condition2 = (dask_df['county'] == 'Galveston (County)')
drnum_county_ddf = dask_df.loc[condition1 & condition2].compute()

In [28]:
drnum_county_ddf.head()

,incidentType,declarationDate,disasterNumber,county,damagedStateAbbreviation,damagedCity,damagedZipCode,applicantAge,householdComposition,occupantsUnderTwo,...,repairAmount,replacementAssistanceEligible,replacementAmount,personalPropertyEligible,personalPropertyAmount,ihpMax,haMax,onaMax,lastRefresh,id
200,Hurricane,2008-09-13T00:00:00.000Z,1791,Galveston (County),TX,SAN LEON,77539,50-64,2,0,...,0.00,0,0.00,0,0.00,0,0,0,2022-11-22T00:31:29.000Z,916c46cb-3d85-4656-a8dc-f05f505fa9d8
216,Hurricane,2008-09-13T00:00:00.000Z,1791,Galveston (County),TX,LEAGUE CITY,77573,35-49,1,0,...,0.00,0,0.00,0,0.00,0,0,0,2022-11-22T00:31:29.000Z,4f067d1d-5be8-405b-9421-3dbe360d6460
222,Hurricane,2008-09-13T00:00:00.000Z,1791,Galveston (County),TX,TEXAS CITY,77590,50-64,2,0,...,0.00,0,0.00,0,0.00,0,0,0,2022-11-22T00:31:29.000Z,d4d386ac-5c00-457d-936a-2993a6157f09
229,Hurricane,2008-09-13T00:00:00.000Z,1791,Galveston (County),TX,PORT BOLIVAR,77650,50-64,1,0,...,0.00,0,0.00,1,2441.06,0,0,0,2022-11-22T00:31:29.000Z,07fd540c-79fe-4d60-bd7e-eb3996652c5f
242,Hurricane,2008-09-13T00:00:00.000Z,1791,Galveston (County),TX,GALVESTON,77550,65+,5,0,...,0.00,0,0.00,0,0.00,0,0,0,2022-11-22T00:31:29.000Z,2da2b8b8-bad8-4b4d-876e-d0b27030cfa2

In [29]:
drnum_county_ddf.groupby('county').size()

county
Galveston (County)    72214
dtype: int64