<a href="https://colab.research.google.com/github/npr99/URSC645/blob/main/Tasks/CodeFoundations/URSC645_ReplicateVijayan2019_PythonQuickStart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code Foundations 1
Students will work to replicate and follow a LinkedInLearning Courses. 

Instructions: See course [Google Drive](https://docs.google.com/presentation/d/1H18SZYr8X4PDVW57usxBXFvD0xI4lbJCO_e8dvzCmOc/edit?usp=sharing) 

Primary Goals:
1. Practice setting up a work folder and a work log
2. Become more comfortable scripting in Python
3. Have fun!

Suggested LinkedInLearning Courses:
Free resources for TAMU students, staff, and faculty (https://linkedinlearning.tamu.edu/)

Vijayan, Lavanya. (2019). Python Quick Start. https://www.linkedin.com/learning/python-quick-start/

## Description of Program
- program: URSC645_ReplicateVijayan2019_PythonQuickStart.ipynb
- task: Replicate Vijayan, Lavanya. (2019). Python Quick Start. https://www.linkedin.com/learning/python-quick-start/ 
- Versions:
- 2023-01-24 - new semester and version control on GitHub
- 2021-01-29 - starter version 
- 2021-02-08 - major contributions by Jennifer Blanks
- 2024-01-12 - check code and minor updates
- project: URSC 645 Urban and Regional Analytics
- funding: Department of Landscape Architecture and Urban Planning, Texas A&M University
- authors: Lavanya Vijayan, Jennifer Blanks, Nathanael Rosenheim and Zhenhang Cai

# 1. Defining Python


## What is Pyhon?
Python is a programming language and is used for scripting and design. It emphasizes readability which decreases the cost of program maintenance

## Why Use Python
1. Readable and maintainable code 
2. Supports multiple approaches
3. Compatibility
4. Large standard library
5. Open source tools and frameworks
6. Ability to develop complext software

## The power of Python
Its powerful applications include web development and data science. It has the tools to conduct data visualization and conduct data analysis

## Python vs. Java
Python- code readability, friendly to beginners, uses operating system-specific interpreters to execute code, most preffered programming language for machine learning and data science
Java- minimal implementation dependencies, steep learning curve, uses more complex two step processes, used to build mobile applications for the android platform

# 2. Fundamentals of Programming in Python: Data

## Set up Python enviroment
Google Colaboratory (https://colab.research.google.com/notebooks/intro.ipynb#recent=true) "Colab" for short sets up a JupyterNotebook enviroment. Google Colab allows coders to skip the typical steps for setting up a Python enviroment - no need to install Anaconda or use command line prompts. 

Google Colab looks slightly different from JupyterNotebook enviroment used in Vijayan (2019) - but notice that the two enviroments are very similar.

The next code cell replicates the command:

```
print('hello world')
```

To run the cell there are three options:
1. press `ctrl+enter`
2. hover over the cell and then press the "play" button 
3. In the menu select Runtime -> Run the focused cell

In [1]:
print('hello URSC 645 students')

hello URSC 645 students

In [2]:
print('hello 2022!')

hello 2022!

### Types of data

#### 1. Booleans

Booleans are used to represent truth values.

In [3]:
type(True)

bool

In [4]:
type(False)

bool

#### 2. Integers

Integers are whole numbers.

In [5]:
type(3)

int

In [6]:
type(0)

int

In [7]:
type(-100)

int

#### 3. Floating-Point Numbers

Floating-point numbers are those expressed as decimals.

In [8]:
type(0.0)

float

In [9]:
type(4.)

float

In [10]:
type(5e10)

float

In [11]:
type(-3.3)

float

#### 4. Strings

Strings are sequences of characters enclosed by quotes. These quotes can be a pair of double quotes or single quotes.

In [12]:
type("I am a string")

str

In [13]:
type('penguin')

str

In [14]:
type('a')

str

In [15]:
type("")

str

#### "12" vs. 12

In [16]:
type("12")

str

In [17]:
type(12)

int

#### 8+9 vs. '8+9

In [18]:
type(8+9)

int

In [19]:
type('8+9')

str

#### What's the implicaitons of 8+9 being an interger and '8+9' being a string?

In [20]:
print(8+9)

17

In [21]:
print('8+9')

8+9

### Store Data Using Varaibles

Variable: A stored value that can change, depending on conditions or on information passed to the program

In [22]:
# beginning of hangman game
guesses = 20 
print(guesses)

20

In [23]:
# Player 2 makes their first guess
# -= 1: shorthand for guesses = guesses - 1
guesses -= 1
print(guesses)

19

In [24]:
# Player 2 makes another guess
# -= 2: shorthand for guesses = guesses - 2
guesses -= 2
print(guesses)

17

# 3. Fundamentals of Programming in Python: Functions

### Function
A block of reusable code that is used to perform a single action

### Built-in Function

In [25]:
print("Hello URSC 645 students!")

Hello URSC 645 students!

In [26]:
print(65 + 65)

130

In [29]:
name = input("What is your name?")
Class = input("What is your favorite course?")

* Note: Enter the answers for these two questions in the top of the screen

In [30]:
print(name)

Nathanael

In [31]:
print(Class)

URSC 645

In [32]:
print("Hi ", name, "! " , Class + " is an excellent class!")

Hi  Nathanael !  URSC 645 is an excellent class!

* Note: play with "+" and "," and we can see the "," will give us one more space in the sentence.

### Define and call your own functions

In [33]:
# Syntax of Defining Function
def functionName(inputName):
    body

In [34]:
def addFive(x):
  print(5 + x)

In [35]:
addFive(30)

35

In [36]:
addFive(62.5)

67.5

### Types of Functions

In [37]:
def greeting():
  print("Hello penguin!")

In [38]:
greeting()

Hello penguin!

In [46]:
# function with one parameter
def greet(name):
  print("What's up " + name + "!")

In [47]:
greet("Polar bear")

What's up Polar bear!

In [41]:
# function returns a value
def square(x):
  return x * x

In [42]:
result=square(6)

In [43]:
print(result)

36

In [44]:
anotherOne= square(result)

In [45]:
print(anotherOne)

1296

In [48]:
# function with two parameters
def sumOfSquares(x, y):
  square1 = x * x
  square2 = y * y
  return square1 + square2

In [56]:
result = sumOfSquares(2, 3)
print(result)

13

In [51]:
# function that asks for user input
def is_it_raining():
  raining = input("Is it raining today?")
  return raining

In [57]:
monday_rain = is_it_raining()
print(monday_rain)

yes

In [58]:
tuesday_rain = is_it_raining()
print(tuesday_rain)

no

### Modules in Python
Modules: a module is a software component that contains one or more routines

In [59]:
import calendar

In [65]:
cal = calendar.month(2022, 1)
print(cal)

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [62]:
import math

In [64]:
result = math.sqrt(49)
print(result)

7.0

In [67]:
import random

In [68]:
number = random.randint(1,200)
print(number)

160

Two Example of Random Module

In [74]:
# list of movies
# notice that list is on multiple lines
movies = ["Iron man",
          "The Incredible Hulk", 
          "Iron Man 2",
          "Marvel's Avenger"]
print(movies)

['Iron man', 'The Incredible Hulk', 'Iron Man 2', "Marvel's Avenger"]

In [71]:
# select a random movie from the list
watch = random.choice(movies)
print(watch)

Marvel's Avenger

In [75]:
deck = ["ace","two","jack","queen","king"]
print(deck)

['ace', 'two', 'jack', 'queen', 'king']

In [76]:
# shuffle the deck
random.shuffle(deck)
print(deck)

['king', 'ace', 'jack', 'queen', 'two']

# 4. Sequences

### name vs group

In [78]:
# Store an individual piece of data
name = "Baxter"
type(name)

str

In [79]:
# Store a collection of data
group = ["Jennifer", "Mason", "Chandler"]
type(group)

list

### Lists

Lists have specific order, and the list can be changed anytime. Square brackets [] are used to enclose items in the list. Commas separate the items from each other.

In [80]:
n = 5
print(n)

5

In [81]:
listA = [5, 10, 15, 20]
print(listA)

[5, 10, 15, 20]

In [82]:
type(listA)

list

In [83]:
# select an item from the list
print(listA[3])

20

* Note: the index starting from 0, 5 is the index 0; 10 as index 1, 15 as index 2 and 20 as index 3.

In [84]:
fourth_item = listA[3]
print(fourth_item)

20

In [85]:
listA[3] = 150
print(listA[3])

150

In [90]:
# a list can have different types of data
listB = [True,"star", 50, 3333.3]
print(listB)

[True, 'star', 50, 3333.3]

### Tuples

A tuple has a specific order and the items in it cannot be changed once created. 

Parentheses are used to enclose the items in the tuple and commas are used to separate the items from each other.

In [91]:
child1_birth = ("Kimberly", 
                "Slidell Children's Hospital",
                "Slidell", 
                "Louisiana", 
                "United States", 
                "10/13/1990", 
                "06:45")
type(child1_birth)

In [92]:
child2_birth = ("Charolette", 
                "CC Baptist Hospital", 
                "Charolette", 
                "North Carolina", 
                "United States", 
                "09/09/2009", 
                "14:50")
type(child2_birth)

tuple

In [93]:
print(child1_birth)

('Kimberly', "Slidell Children's Hospital", 'Slidell', 'Louisiana', 'United States', '10/13/1990', '06:45')

In [94]:
print(child2_birth)

('Charolette', 'CC Baptist Hospital', 'Charolette', 'North Carolina', 'United States', '09/09/2009', '14:50')

In [95]:
# to find out the birth hospital of child 1
print(child1_birth[2])

Slidell

# 5. Conditional Statements

In [97]:
# example of conditional statements
raining = input("is it raining? (yes/no)")
if raining == "yes":
    print("You need an umbrella!")

You need an umbrella!

### IF Statement

In [98]:
n = input("choose an integer between -10 and 10 and enter it her: ")
n = int(n)
if n < 5:
    print("The integer you chose is less than 5.")

### IF-ELSE Statement

In [99]:
def minimum(x,y):
    if x < y:
        return x
    else: 
        return y

In [100]:
# test out minimum on the inputs 2 and 5
result = minimum(2,5)
print(result)

2

In [101]:
# test out minimum on the inputs -2 and -5
result = minimum(-2, -5)
print(result)

-5

In [102]:
# test out minimum on the inputs -3 and -3.98
result = minimum(-3, -3.98)
print(result)

-3.98

### IF-ELIF Statement
ELIF is short for "else if"

In [103]:
raining = input("is it raining? (yes/no)")
umbrella = input("Do you have an umbrella? (yes/no)")
if raining == "yes" and umbrella == "yes":
    print("Don't forget to bring your umbrella when you get out!")
elif raining == "yes" and umbrella == "no":
    print("Wear a waterproof jacket when you get out!")

In [111]:
x = input("Enter a number between 0 and 10 here: ")
# convert to float 
# conditional statements do not work with integers
x = float(x)
if x < 2:
    print("The number is less than 2.")
elif x < 6:
    print("The number is less than 6.")
elif x < 8:
    print("The number is less than 8.")
elif x < 10:
    print("The number is less than 10.")

The number is less than 2.

In [112]:
# code without elif
if x < 2:
    print("The number is less than 2.")
if x < 6:
    print("The number is less than 6.")
if x < 8:
    print("The number is less than 8.")
if x < 10:
    print("The number is less than 10.")

The number is less than 2.
The number is less than 6.
The number is less than 8.
The number is less than 10.

In [113]:
# convert integer to float
x = 1
print(float(x))

1.0

In [116]:
# convert float to integer
# notice that the decimal part is truncated
x = 2.33
print(int(x))

2

In [119]:
# function to return the absolute value of a number
def abs_val(num):
    if num < 0:
        return -num
    elif num == 0:
        return 0
    else:
        return num

In [118]:
result = abs_val(4)
print(result)

4

In [120]:
result = abs_val(0)
print(result)

0

In [121]:
result = abs_val(78.3)
print(result)

78.3

# 6. Iteration
### Example of Iteration 
Playing Hangman: Player 1 comes up with a word; Player 2 needs to guess the word; Hint: number of vowels in the word

In [124]:
# Hangman Game
word = 'serendipitous'
vowels = ['a', 'e', 'i','o','u',]
vowelCount = 0
# how many vowels are in the word?
# loop through each character in the word
for character in word:
    if character in vowels:
        vowelCount += 1
print(vowelCount)

6

### Iteration
The process of repeatedly performing a set of instructions

### For Loop
A programming structure that allows you to achieve iteration; You can specify a range of numbers using the range() function

#### Range
A built-in function; Takes the inputs as: range(start, stop, step); Default to starting with 0 and a step size of 1; The range will exclude the ending number

In [125]:
for x in range(4):
  print(x)

0
1
2
3

In [127]:
# start range at 1, go up to 9, increment by 5
for x in range(1, 9, 5):
  print(x)

1
6

* Note: range meaning: 1, 1+5, 1+5+5 but greater than 9 so discard.

In [129]:
# print each vowel in the list
vowels = ['a', 'e', 'i', 'o', 'u']
for v in vowels:
  print(v)

a
e
i
o
u

#### While Loop

In [130]:
vowels = ['a', 'e', 'i', 'o', 'u']
length = len(vowels)
print(length)

5

In [132]:
vowels = ['a', 'e', 'i', 'o', 'u']
i = 1
while i < len(vowels):
  print(vowels[i])
  # increment i by 2
  i += 2

e
o

* Note: i=1 means that starting from 'e', and i +=2 means select the next 2 letter after the 'e'

In [155]:
# Zhenhang Exercise on While Loop
movies = ["Iron man",
          "The Incredible Hulk", 
          "Iron Man 2",
          "Marvel's Avenger"]
length = len(movies)
print(length)

4

In [134]:
# first set i to 1
i = 1
while i < len(movies):
    print(movies[i])
    i += 1
# compare results if you set i to 0

The Incredible Hulk
Iron Man 2
Marvel's Avenger

# 7. Recursion
Defining something in terms of itself to achieve your objective
* Recursive Function: a function that calls itself in its body
* Recursive Approach to Problem Solving: a recursive function solves a problem by dividing the problem into smaller subproblems, and calling the function itself to solve each subproblem.

### Factorial
The factorial of a postive integer n, denoted by n!, is the product of all positive integers less than or equal to n.

In [135]:
def factorial(n):
  """Return the factorial of positive integer n. """
  if n == 1:
    return 1
  else:
      return n *factorial(n-1)

* Note: if part is the Base Case: 1! = 1 and the else part is the Recursive Case: n! = n*(n-1)!

### sum_digits
<br />Example:
<br />5 sum of digits: 5
<br />25 sum of digits: 2+5 =7
<br />125 sum of digits: 1+2+5 =8

In [136]:
def sum_digits(n):
  """Return the sum of the digits of positive integer n."""
  if n < 10:
    return n
  else:
    all_but_last = n // 10
    last = n % 10
    return sum_digits(all_but_last) + last

In [138]:
sum_digits(25)

7

### The Fibonacci Sequence

In [137]:
def fib(n):
  """Return the nth number in the Fibonacci sequence."""
  if n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    return fib(n -1) + fib(n-2)

In [139]:
fib(9)

21

### Palindrome
is a word, phrase, or sequence that reads the same forwards and backwards
<br/>Examples: "mom", "k", "5", "121", "1221"

In [140]:
def isPalindrome(s):
  """Return whether string s is a palindrome."""
  if len(s) <= 1:
    return True
  else:
    return s[0] == s[-1] and isPalindrome(s[1:-1])

In [141]:
isPalindrome("mom")

True

# 8.Object Oriented Programming (OOP)
* A collection of data and methods that operate on that data
* Every object has a type
* Types define what programs can do with objects of that type
<br/>Example
<br/>Define new objects - SPOT
<br/>Objects are categorized - DOG
<br/>Categories are classes - DOG / CAT
<br/>Every object is an instance of a class - DOG / SPOT

In [145]:
class Dog():
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def bark(self):
        print("Woof woof!")

In [146]:
fido = Dog("Fido", 2)

In [147]:
fido.bark()

Woof woof!

In [148]:
print(fido.name)

Fido

In [149]:
print(fido.age)

2

In [175]:
fido.age +=1

* Note: suppose the dog will grow one year old

In [150]:
print(fido.age)

2

In [151]:
class Llama():
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def hum(self):
    print("Mwa Mwa!")

In [152]:
princess = Llama("Princess", 20)

In [153]:
princess.hum()

Mwa Mwa!

In [154]:
print(princess.name)

Princess

In [155]:
print(princess.age)

20